<template>
  <section>
      <header>
    <h1>My Friends</h1>

      </header>
    <ul>
     
        <friend-contact></friend-contact>
        <friend-contact></friend-contact>
        <friend-contact></friend-contact>
     
    </ul>
  </section>
</template>

<script>
export default {
  data() {
    return {
      friends: [
        {
          id: "Manuel",
          name: "Manuel Lorenz",
          phone: "0987654431",
          email: "manuellorenz@gmail.com",
        },
        {
          id: "Julie",
          name: "Julie Jones",
          phone: "0987654431",
          email: "juliejones@gmail.com",
        },
      ],
    };
  },
};
</script>
<style>
* {
  box-sizing: border-box;
}
html {
  font-family: "Jost", sans-serif;
}
body {
  margin: 0;
}

hr {
  border-bottom: 4px solid #ccc;
}
header {
  box-shadow: 0 rpx 8px rgba(0, 0, 0, 0.26);
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  background-color: #6e0040;
  color: white;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}
/* #app {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 90%;
  max-width: 40rem;
} */


.active {
  border-color: red;
  background-color: salmon;
}
#app h2 {
  font-size: 2rem;
  border-bottom: 4px solid #ccc;
  color: #6e0040;
  margin: 0 0 1rem 0;
  text-decoration: none;
}
#app p {
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px solid #4fc08d;
  background-color: #4fc08d;
  color: white;
  padding: 0.5rem;
  border-radius: 25px;
}

#app ul {
  text-align: center;

  list-style: none;
}
li {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 1rem auto;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}

#app input {
  font: inherit;
  border: 1px solid #ccc;
}
#app input:focus {
  outline: none;
  border-color: #1b995e;
  background-color: #d7fdeb;
}
#app button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #ff0077;
  background-color: #ff0077;
  color: white;
  padding: 0.05rem 1rem;
  margin: 20px;
  width: 30%;

  border-radius: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}
#app button:hover,
#app button:active {
  background-color: #ff0077;
  border-color: #ff0077;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
</style>
